
@{
    ViewBag.Title = "Calculation";
    Layout = "~/Views/Shared/_LayoutNavFooter.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Calculation</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
