
@{
    ViewBag.Title = "Car";
    Layout = "~/Views/Shared/_LayoutNavFooter.cshtml";
}

@model List<RentCars.Domain.Entities.Product.DB.ProductDbTable>

<h1>List of Cars</h1>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Price</th>
            <th>Brand</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Brand</td>
                <td>@car.Name</td>
                <td>@car.Year</td>
                <td>@car.Price</td>
            </tr>
        }
    </tbody>
</table>
